.footer {
  padding: 20px;
  background: #2d314d;
  color: $white;
.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    column-gap: 20px;
    .log {
      min-width: 200px;
      color: $white;

      .logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        .text {
          position: absolute;
          left: 33px;
          font-size: 24px;
          font-weight: 500;
          white-space: nowrap;
        }
      }
      .icon {
        padding-left: 20px;
        font-size: 18px;
      }
    }
    .col {
      text-align: center;
      min-width: 200px;
      div {
        font-size: 18px;
        font-weight: 400;
      }
      button {
        display: block;
        margin-block: 0.5rem;
      }
      div {
        margin-bottom: 10px;
      }
    }
    .col1 {
      button {
        margin-left: 14%;
      }
    }
  }
}
